.box1{
    height: 25px;
}
.a1,.a2{
    color: #2b2b2b;
    font-size: 12px;
}
.earth,.grid{
    font-size: 12px;
    color: #2b2b2b;
}

.textcenter {
    font-size: 14px; 
    color: #333333; 
    transition: color 0.3s ease; 
}


.textcenter:hover {
    color: black; 
}
